.footerSection {
    background-color: #111619;
    margin-bottom: 20px;
}

.footerWebevery{
    text-align: center;
        color: #fff;
        
        font-family: Anonymous Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.1%;
}

.footerWebeveryLink{
    color: #fff;
}