.closeIcon {
      width: 30px;
      height: 30px;
      transition: 500ms;

      &:hover,
      &:focus {
        scale: 1.4;
      }
    }

    .closeModal {
      background-color: transparent;
      border-color: transparent;
      margin-left: 120px;
      margin-bottom: 15px;
    }
        .headerNavLink {
            color: #fff;
            font-family: Anonymous Pro;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 140.1%;
            cursor: pointer;
            transition: 500ms;
    
            &:hover,
            &:focus {
                color: #ff3f3f;
                background: rgba(0, 0, 0, 0.301);
                border-radius: 5px;
            }
        }