.collectionSection{
    background: #111619;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: auto;
        
}

.collectionContainer{
    padding-top: 24px ;
    padding-left: 16px;
    padding-right: 16px;
    @media (min-width: 767px) {
    
        padding-left: 80px;
            padding-right: 80px;
        }
    
}
.collectionContainer h2{
    text-align: center;
    color: #FFF;
    margin-bottom: 24px;
        font-family: Anonymous Pro;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.1%;
        @media (min-width: 1440px) {
        
                margin-bottom: 80px;
                font-size: 40px;
            }
       

}
.collectionImg{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transition: 250ms;
    &:hover,
        &:focus {
            transform: scale(1.1);
        }
}
.collectionList{
   
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        @media (min-width: 1440px) {
        
                margin-right: -20px;
                    margin-bottom: -48px;
            }
        
       
}

.collectionList h3{
    color: #FFF;
        font-family: Anonymous Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.1%;
        margin-top: 24px;
        @media (min-width: 1440px) {
        font-size: 40px;
                
            }
       
}
.collectionList p{
    color: #FFF;
        font-family: Crimson Text;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140.1%;
        margin-top: 24px;
        flex: 1;
        @media (min-width: 1440px) {
                font-size: 32px;
                margin-top: 64px;
        
            }
       
}

.collectionList span{
    color: #FFF;
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.1%;
        background-color: transparent;
        margin-right: 72px ;
       

}


.collectionItem + .collectionItem{
    margin-top: 24px;
    @media (min-width: 1440px) {
    
            margin-top: 0px;
        }
}
.portfolioIcon{
    transition: 500ms;
    width: 16px;
        height: 16px;
}
.ItemBtnThumb{
    display: flex;
    align-items: center;
    margin-top: 24px ;
    justify-content: flex-end;
    // transition: 500ms;
    
    //     &:hover,
    //     &:focus {
    //         .portfolioIcon{
    //             transform: scale(1.3);

    //         }
        
    //     }
     
    @media (min-width: 1440px) {
        justify-content: flex-start;
        margin-top: 64px;
    
         
        }
    

}
.collectionItem {
display: flex;
flex-direction: column;
position: relative;
// overflow: hidden;
    @media (min-width: 1440px) {
        
        flex-basis: calc(100% / 2 - 30px);
        margin-right: 20px;
        margin-bottom: 48px;
        align-items: stretch;
        
        }

        
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;

    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
}

.collectionItem.ItemBtnThumb:hover .overlay {
    transform: translatey(0);
}
