.aboutSection{
    
    background-image: url(../../../images/about-bg-mob.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        height: 640px;
        
}